_site
.sass-cache
.jekyll-metadata
about_orig.md
# 2022-08-19-BTC-is-for-Bootstrap-Theme-Creation.markdown
2022-08-28-VS-Is-For-Visual-Studio.markdown
2022-08-28-VS-Is-For-Visual-Studio-NEW.markdown
2022-08-30-I-Is-For-Index.markdown